@media (min-width: 765px){
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 6rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.img{
    width: 539,22px;
    height: 414,25px;
    order: 1;
}

.flexbox{
    margin-right: 4rem;
    width: 100%;
}

.herotext{
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: -0.035em;
}

.paragraph{
    font-family: Space Mono;
    justify-self: flex-end;
    align-self: flex-end;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.035em;
/* Gray 2 */
color: #4F4F4F;
}
}
@media (max-width: 765px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        flex-direction: column;
    }
    
    .img{
    }
    
    .herotext{
        font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 1rem;
    }
    
    .paragraph{
        font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin-left: 2rem;
    margin-right: 0.5rem;
    /* Gray 2 */
    color: #4F4F4F;
    }
}

